# Suds, patched version of 0.3.6 by KCal. (Suds 0.3.6 through 0.4 have a bug around suds/sax/document.py)
#-e git+https://github.com/kevincal/suds-patched@f9869d36fac3077da3b1351eb169518bbdd92ac3#egg=suds-dev
